@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1578402382615-8c856f41452e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 50px auto;
  width: 80vw;
  height: 60vh;
}

.bg::after {
  background-repeat: no-repeat;
  background-image: inherit;
  background-size: cover;
  background-position: right bottom;
  content: "";
  position: absolute;
  bottom: -101%;
  width: inherit;
  height: inherit;
  transform: rotateX(180deg);
}

.bg::before {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.2),
    #ffffff 60%,
    #ffffff
  );
  content: "";
  position: absolute;
  bottom: -101%;
  width: inherit;
  height: inherit;
  transform: rotateX(180deg);
  z-index: 100;
}
