* {
  box-sizing: border-box;
}

body {
  background: darksalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}
