body {
  color: #555;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.checkbox {
  position: absolute;
  left: -9999px;
}
.label {
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.label:before {
  content: " ";
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: -30px;
  width: 20px;
  height: 20px;
}
.label:after {
  color: #2ecc71;
  content: "\2713";
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: -25px;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.checkbox:checked + .label:after {
  transform: scale(1);
}
