@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sanse", sans-serif;
  margin: 0;
}

section {
  color: #fff;
  font-size: 3em;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#page-1,
nav a:nth-of-type(1) {
  background-color: #8e44ad;
}

#page-2,
nav a:nth-of-type(2) {
  background-color: #e74c3c;
}

#page-3,
nav a:nth-of-type(3) {
  background-color: #2980b9;
}

#page-4,
nav a:nth-of-type(4) {
  background-color: #2ecc71;
}

nav {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

nav a {
  border: 4px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 10px;
  height: 30px;
  width: 30px;
}
